.all {
    width: 100%;
}
.header__navbar {
    background-color: white;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid rgb(136, 163, 163);
    position: fixed;
}

.header__navbar-logo a  {
    margin-left: 150px;
    font-weight: 700;
    color: black;
    font-size: 20px;
}

.header__navbar-list {
    list-style: none;
    display: flex;
}

.header__navbar-item{
    padding: 14px;
    border-left: 2px solid black;
}

.header__navbar-item, a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.header__navbar-list a {
    display: inline-block;
    position: relative;
    width: 120px;
}

.header__navbar-list a:hover, .header__navbar-list a:active {
    color: darkcyan;
}

.header__navbar-list a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: darkcyan;
    transition: width linear 0.3s;
}

.header__navbar-list a:hover::after {
    width: 100%;
}

.container {
    width: 100%;
}

.container__home {
    background-image: url(https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    height: 720px;
}

.container__home-h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
    line-height: 550px;
}

.container__aboutme {
    background-color: rgb(206, 217, 87);
    height: 720px;
}

.container__aboutme-box {
    display: flex;
    justify-content: center;
}

.container__aboutme-img img {
    border-radius: 10%;
    width: 250px;
    height: 300px;
}

.container__aboutme-h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

.container__aboutme-content {
    width: 50%;
    padding-left: 50px;
}

.container__aboutme-content-p1 {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.container__skills {
    background-color: bisque;
    height: 720px;
}

.container_skills-h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

.container__skills-html, .container__skills-css, .container__skills-javascript {
    display: flex;
    margin-bottom: 10px;
    height: 60px;
    background-color: white;
    justify-content: space-between; 
    position: relative;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    border-radius: 20px;
}

.container__skills-name {
    display: flex;
    text-align: center;
}

.skills_name {
    font-size: 20px;
    padding: 12px;
}

.skills_icon {
    color: darkblue;
    font-size: 40px;
    padding-left: 20px;
}

.skills_bar {
    background-color: aqua;
    height: 5px;
    width: 500px;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    margin-left: 8px;
}

.skills_html {
    width: 80%;
}

.skills_css {
    width: 60%;
}

.skills_js {
    width: 30%;
}

.skills_percent {
    font-size: 20px;
    padding: 10px;
}

.container__works {
    height: 720px;
    background-color: white;
}

.container__works-h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

.container__works-bigbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container__works-box {
    height: 100px;
    position: relative;
    overflow: hidden;
    border: 16px solid white;
    background-color: white;
    border-radius: 10px;
}

.container__contact {
    height: 720px;
    background-color: darkseagreen;
}

.container__contact-h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

