@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee+Spice&family=Lobster&family=Noto+Sans&family=Paytone+One&family=Roboto+Slab&family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 0;
    font-size: 16px;
}

.home {
    width: 10%;
    margin-bottom: 10px;
}

.home-icon1 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    background-color: rgb(1, 230, 255);
}

.home-icon1:hover {
    background-color: rgb(1, 140, 159);
}

.all {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.banner0{
    display: block;
    top: 0;
    position: relative;
}
.banner1{
    width: 100%;
}
.banner2{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #e7f0f6;
    display: flex;
    align-items: center;
    min-height: 64px
}
.banner3{
    display: flex;
    align-items: center;
}
.banner4 {
    margin-bottom: 4px;
    color: #00658e;
    font-size: 20px;
    line-height: 26px;
    margin-left: 50px;
}
.banner5 {
    color: #00658e;
    font-size: 14px;
    line-height: 20px;
    margin-left: 50px;
}
.a1{
    text-decoration: none;
    margin-left: 500px;
}
.header {
    display: flex;
}

.header1 {
    width: 60%;
    background-color: #212121;
    padding: 25px 0px;
}

.header1 a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding-left: 23px;
}

.header2 {
    width: 40%;
    background-color: #212121;
    padding: 25px 0px;
}

.header2 a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    padding-left: 28px;
    font-size: 16px;
}

.header2 a:hover {
    color: #acb4ac;
}

.header3 {
    width: 1%;
    background-color: #212121;
    padding: 25px 40px;
}

.header-icon {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

/* content */
.content1 {
    margin-left: 58px;
}

.content-1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.content-2 {
    font-size: 16px;
}

/* topbar */
.topbar {
    display: flex;
    gap: 4px;
}

.topbar1 {
    margin-left: 58px;
    margin-top: 75px;
}

.topbar1 a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 6px 10px;
    margin-left: 5px;
}

.topbar1 a {
    background-color: #dfdfdf;
}

.topbar1 a:hover {
    background-color: #d4cbcb;
}

.topbar2 {
    /* background-color: #000000; */
    margin-top: 75px;


}

.topbar2 a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(79, 79, 79);
    font-size: 15px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 6px 10px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

.topbar2 a {
    background-color: #000000;
}

.topbar3 {
    margin-top: 75px;
}

.topbar3 a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(85, 84, 84);
    font-size: 15px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 6px 10px;
    margin-left: 5px;
}

.topbar3 a {
    background-color: #dfdfdf;
}

.topbar3 a:hover {
    background-color: #d4cbcb;
}

/* body */
.body1 {
    display: flex;
}

.body11 {
    margin-top: 75px;
    width: 340px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

.body12 {
    margin-top: 75px;
    width: 340px;
    height: 300px;
    margin-left: 38px;
    background-color: rgb(255, 255, 255);
}

.body11:hover {
    border: 1px solid rgb(200, 191, 191);
}

.body12:hover {
    border: 1px solid rgb(200, 191, 191);
}

.body11-11 {
    padding: 20px;
}

.body11 a {
    list-style-type: none;
    text-decoration: none;
}

.body12 a {
    list-style-type: none;
    text-decoration: none;
}

.body11-1 {
    width: 300px;
}

.chu1 {
    margin-top: 1px;
    font-size: 22px;
    margin-bottom: 0px;
    margin-left: 16px;
    color: #000000;
}

.chu2 {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 16px;
    color: #000000;
}

/* footer */
.footer1 {
    border-top: 1pt solid gray;
    display: flex;
    gap: 30px;
    margin-top: 85px;
}

.footer-link {
    margin-left: 40px;
    margin-top: 20px;
    padding: 7px;
    font-size: 50px;
    height: 68px;
    color: rgb(210, 190, 190);
}

.footer-chu {
    width: 470px;
    margin-bottom: 40px;
}

.footer-link1 {
    list-style-type: none;
    color: rgb(83, 75, 75);
    margin-right: 10px;
}

.footer2 {
    border-top: 1pt solid gray;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 40px;
}

.footer2-chu {
    margin-left: 40px;
    font-size: 30px;
    color: #8d938d;
    text-decoration: none;
}

.footer22-2 {
    margin-top: 12px;
}

.footer2-2 {
    list-style-type: none;
    color: rgb(83, 75, 75);
    margin-right: 10px;
}
.imgicon{
    width: 64px;
    height: 64px;
    margin-top: 20px;
}